/*#region reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*#endregion*/

  #page-grid {
      height:100%;
      max-height: 100%;
      width:100%;
      max-width: 100%;
      display:grid;
      grid-auto-rows: 1vh;
      grid-auto-columns:1vw;
  }

  #button {
      height:100px;
      width:100px;
      top:0;
      left:0;
      background-color: brown;
      cursor: pointer;
  }

  .bubble-class {
      height:10vw;
      width:10vw;
      border:1px solid black;
      border-radius:50%;
      background: radial-gradient(circle at 20%, red, blue, pink);
      opacity:50%;
  }
  #bubble:active {
      animation: pop 0.1s cubic-bezier(0.36, 0.87, 0.18, 0.99) forwards;
  }

@keyframes pop {
    from {
        transform:translateZ(0) scale(1,1);
    }
    to {
        opacity:0;
        transform:translateZ(0) scale(1.75,1.75);
    }
}



 